<h1>Listing all tweets</h1>


<div id="forms">

<%=render 'form'%>
</div>
<ol><ol><ol><ol><ol><ol><ol><ol><ol><ol><ol><ol><ol><ol><ol><ol><ol><ol><div>
<%= form_tag tweets_url, :method => 'get',:remote=>true do %>
  <p>
    <%= text_field_tag :search, params[:search] %>
   <button> <%= submit_tag "Search",:remote=>true, :content => nil, :class =>"tweetbutton" %></button>
  </p>
<% end %>
  <script type="text/javascript">
        var auto_refresh = setInterval(
        function(){
            $('#posts').empty();
            $('#posts').load(' #posts').fadeIn("slow");
        }, 30000); // refresh every 10000 milliseconds
    </script>

</div></ol></ol></ol></ol></ol></ol></ol></ol></ol></ol></ol></ol></ol></ol></ol></ol></ol></ol>
<h3><%= paginate @tweets %></h3>
<div id="poster">
<div id="posts">

<%= render 'tweets' %>

</div>

<h3><%= paginate @tweets %></h3>
</div>


