<h1>Listing all tweets</h1>

<table>
  <thead>
  <td></td>
    <tr>
      <th>Content</th>
      <th>Author</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @tweets.each do |tweet| %>
      <tr>
        <td><br><br><%= tweet.content %></td>
        <td><br><br><%= tweet.user.name %></td>
        <td><br><br><%= link_to 'Show', tweet, :class =>"button2" %></td>
        <% unless current_user!=tweet.user%>
          
        
        <td><br><br><%= link_to 'Edit', edit_tweet_path(tweet), :class =>"button1" %></td>
        <td><br><br><%= link_to 'Delete', tweet, method: :delete, data: { confirm: 'Are you sure?' }, :class =>"button3" %></td>
        <% end -%>
       </tr>
        <p>                       </p>
        <p></p>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Tweet', new_tweet_path, :class =>"tweetbutton" %>

