<h5>Welcome to Twitter</h5>

<br>
<br>
<br>
 <%= link_to 'New Tweet', new_tweet_path, :class =>"tweetbutton1" %> <%= link_to 'All Tweets', 'tweets',:class=>"tweetbutton1" %>
 <br>
 <br>
 <br>
 <br>
<h2>Your Tweets</h2>

<table>
  <thead>
    <tr>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

   <tbody>
    <% @tweets.each do |tweet| %>
      <tr>
      <% if tweet.user==current_user %>
        <td><br><br><%= tweet.content %></td>
        
        <td><br><br><%= link_to 'Show', tweet, :class =>"button2" %></td>
        <% unless current_user!=tweet.user%>
          
        
        <td><br><br><%= link_to 'Edit', edit_tweet_path(tweet), :class =>"button1" %></td>
        <td><br><br><%= link_to 'Delete', tweet, method: :delete, data: { confirm: 'Are you sure?' }, :class =>"button3" %></td>
        <% end -%>
       </tr>
        <p>                       </p>
        <p></p>
        <% end %>
    <% end %>
  </tbody>
  <br>

</table>

<br>







